{% extends "base.html" %}

{% block lab %}Доска объявлений{% endblock %}

{% block main %}
    <p>
        <a href="/rgz/advertisements">
            <button type="submit">Просмотр объявлений</button>
        </a>
        <a href="/rgz/newadvertisement">
            <button type="submit">Создание объявлений</button>
        </a>
        <a href="/rgz/login">
            <button class="log1" type="submit">Авторизация</button>
        </a>
        <a href="/rgz/register">
            <button class="log2" type="submit">Регистрация</button>
        </a>
        <a href="/rgz/logout">
            <button class="log2" type="submit">Выход</button>
        </a>
       
    
        </p>
    </div>

    <h1>Доска объявлений</h1>
    <h2>Объявления</h2>
    <ul>
        {% for article in articles %}
            <li>
                <h3>{{ article.title }}</h3>
                <p>{{ article.advertisement_text }}</p>

                <a href="/rgz/advertisements/<int:ad_id>/edit">Редактировать</a>
                <a href="/rgz/advertisements/<int:ad_id>">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}