{% extends "base.html" %}

{% block lab %} Доска объявлений {% endblock %}

{% block main %}
    <div class="ramka">
    
        <form method="post">
            <h1 style="text-align: center;">Страница регистрации</h1>

            <div>
                <label for="login">Логин</label>
            </div>
            <div>
                <input  class="pole_tiket" type="text" name="login" placeholder="login">
            </div>

            <div>
                <label for="password">Пароль</label>
            </div>
            <div>
                <input  class="pole_tiket" type="text" name="password" placeholder="password">
            </div>

            <div>
                <label for="name">Имя</label>
            </div>
            <div>
                <input  class="pole_tiket" type="text" name="name" placeholder="name">
            </div>
            
            <div>
                <label for="avatar">Аватарка</label>
            </div>
            <div>
                <input  class="pole_tiket" type="file" name="avatar">
            </div>

            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <input  class="pole_tiket" type="text" name="email" placeholder="email">
            </div>

            <div>
                <label for="about">О себе</label>
            </div>
            <div>
                <input  class="pole_tiket" type="text" name="about" placeholder="about">
            </div>

            {% for error in errors %}
                {{ error }}
            {% endfor %}

            <button style="height: 30px;
            color: rgb(238, 72, 99);
            background-color: white;
            font-size: 12pt;
            font-weight: bold;
            border: 2px black;
            border-radius: 5px;" class="pole_tiket" type="submit">Зарегистрироваться</button>
        </form>

    </div>

{% endblock %}